.cart-container {
  max-width: 900px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #1a1a1a;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.cart-container h1 {
    color: #fff;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #333;
}

.cart-item img {
  width: 80px;
  border-radius: 0.5rem;
}

.cart-item-details {
  color: #fff;
  flex: 1;
  margin-left: 1rem;
}

.cart-item-title {
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
}

.cart-total {
  color: #fff;
  text-align: right;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-right: 0.4rem;
}

.cart-item-quantity {
  color: #fff;
  text-align: right;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-right: 0.4rem;
}

.checkout-btn {
  background-color: #b872a9;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 1rem;
  margin-left: 85%;
}

.checkout-btn:hover {
  background-color: #a05d93;
}

#qty-1, #qty-2, label{
    position: relative;
    left: 72%;
}